@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
}
.menu-title {
  position: relative;
  font-weight: bold;
}
.menu-title:after {
  position: absolute;
  width: 100px;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  top: 10px;
  left: 100px;
  content: "";
}

.playButton {
  position: absolute;
  right: 0;
  left: 47%;
  top: 50%;
  bottom: 0;
  text-align: center;
  margin: auto;
}
