@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
}
.menu-title {
  position: relative;
  font-weight: bold;
}
.menu-title:after {
  position: absolute;
  width: 100px;
  height: 1px;
  background: rgba(255, 255, 255, 0.7);
  top: 10px;
  left: 124px;
  content: "";
}

.playButton {
  position: absolute;
  right: 0;
  left: 47%;
  top: 43%;
  bottom: 0;
  text-align: center;
  margin: auto;
}
ul li a {
  font-family: "Inter" !important;
}

ul li span{
  font-family: "Inter" !important;
}
.con-header h2{
  font-family: "Inter" !important;
}
.banner-bg{
  background: rgb(74,0,0);
background: linear-gradient(90deg, rgba(74,0,0,1) 0%, rgba(255,0,0,1) 35%, rgba(122,0,0,1) 95%);
}